extends layout

block content
    body
        div(data-role="page" id="loginPage")
            div(data-role="content" id="loginCtt" align="center")
                form.form-signin(name="loginForm" action="/member/login/do" method="post")
                    table#mainTb
                        tr
                            td(align="center")
                                img#mainImg(src="/img/dftv_logo.png")
                        tr
                            td(align="center")
                                input#l_id.form-control(placeholder="Id" name="wst_id")
                        tr
                            td(align="center")
                                input#l_pw.form-control(placeholder="Password" type="password" name="wst_password")
                        tr
                            td(align="center")
                                div(class="checkbox")
                                    label
                                        input(type="checkbox" value="remember-me")
                                        remm Remember me
                        tr
                            td(align="center")
                                input#l_Submit.btn.btn-lg.btn-primary.btn-block(type="submit" value="로 그 인")
                                a.btn.btn-lg.btn-primary.btn-block(href="/member/join/go" data-role="button" data-transition="slidedown") 회원가입