extends layout

block content
    div#mainPage(data-role="page")
        div(data-role="header" data-position="fixed")
            a(href="#loginPage" data-role="button" data-icon="arrow-l" data-transition="flow") 나가기
            h1 
                input(align="center" placeholder="검색창")
            a#logout(data-role="button" data-icon="arrow-r" data-transition="flow") 로그아웃
        div(data-role="content" align="center")
            table#mainTb
                tr
                    td(align="center")= user.wst_id + ' 님 반갑습니다'
                tr
                    td(align="center") 내용~~~~~~~~~~
                tr
                    td(align="left") FRIENDS LIST
            div
                table#mainFriendsTb
                    tr
                        td dddd
                    tr
                        td dddd
        div#loginOkDivBtm(data-role="none" data-position="fixed")
            table
                tr
                    td(align="center") 친구리스트
                    td(align="center") 대화방목록
                    td(align="center") 기타설정
                tr
                    td dd
        div(data-role="footer" data-position="fixed")
            h1 MADE BY DWM