extends layout

block content
    div#mainPage
        div
            h1 
                input(align="center" placeholder="검색창")
            a#logout 로그아웃
        div(data-role="content" align="center")
            table#mainTb
                tr
                    td(align="center")= user.wst_id + ' 님 반갑습니다'
                tr
                    td(align="center") 내용~~~~~~~~~~
                tr
                    td(align="left") FRIENDS LIST
            div
                table#mainFriendsTb
                    tr
                        td dddd
                    tr
                        td dddd
        div#loginOkDivBtm
            table
                tr
                    td(align="center") 친구리스트
                    td(align="center") 대화방목록
                    td(align="center") 기타설정
                tr
                    td dd